.grid_container {
    @apply grid grid-cols-12 gap-4
}

.grid_item {
@apply shadow-md overflow-hidden relative rounded-lg cursor-pointer flex justify-center items-center col-span-3 h-[200px] text-white
}


.grid_item:nth-of-type(5){
    @apply  col-span-6;
}

.grid_item:hover{

}

.download_svg{
    @apply bg-white text-black p-2 absolute transition-all -translate-x-4 translate-y-4 md:-translate-y-10 md:translate-x-10 right-0 top-0 rounded-full text-3xl inline-block
}

.grid_item:hover .download_svg{
    @apply md:translate-y-4 md:-translate-x-4;
}